{% extends "base.html" %}


  {% block content %}

  <!--  Review Modal start-->

  <div class="modal fade" tabindex="-1" role="dialog" id="reviewModal">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Review Business</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please Click on Stars to review</p>
    <span >
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>

    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info">Review</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>

  <!--  Review Modal end -->


  <div class="container ">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow bg-info">
          <div class="lh-100">
            <h4 class="mb-2 text-white lh-100">{{context.business.name|title }}</h4>
            <small class="text-light"><b>{{context.business.owner.username|title}}</b></small>
          </div>
        </div>
          <div class="bg-white rounded box-shadow">

            <div class="row">
              <div class="container p-3 d-flex justify-content-center">
                <div class="col-md-12">


                <ul class="list-group list-group-flush">
                  <button type="button" class="list-group-item list-group-item-action text-light no-border bg-secondary rounded">Business Details</button>

                  <li class="list-group-item text-muted small"><b class="text-info">Category: </b> {{ context.business_category.name }}</li>
                  <li class="list-group-item text-muted small"><b class="text-info">Location: </b> {{ context.business.location }}</li>
                  <li class="list-group-item text-muted small"><b class="text-info">Created: </b> {{ context.business.created|humanize }}</li>
                  <li class="list-group-item text-muted small"><b class="text-info">Description: </b> {{ context.business.description }}</li>


                </ul>

              </div>
            </div>

            </div>


            <div class="media text-muted ">
              <div class="media-body mb-0 small lh-125 border-bottom border-gray">

                <div class="container">
                  <div class="row">

                    <div class="col-md-4">

                <div class="d-flex justify-content-between align-items-center w-100 ">
                  <form class="form-signin text-center rounded" style="max-width:500px;" method="POST" enctype="multipart/form-data" action="/businesses/{{context.business.id}}/reviews">
                    {{ context.review_form.hidden_tag() }}

                    <fieldset class="form-group text-left">
                      <legend class="border-bottom p-2 bg-info rounded mb-2 text-light h5">Add Review</legend>



                    <div class="form-group">
                      {{ context.review_form.name.label(class="form-control-label") }}


                      {% if context.review_form.name.errors %}
                        {{ context.review_form.name(class="form-control is-invalid",placeholder="Name") }}
                        <div class="invalid-feedback">

                          {% for error in context.review_form.name.errors  %}
                            <span> {{ error }}</span>
                          {%endfor%}

                        </div>
                        {% else %}

                        {{ context.review_form.name(class="form-control",placeholder="Name") }}

                      {% endif %}


                    </div>

                    <div class="form-group">
                      {{ context.review_form.rating.label(class="form-control-label") }}


                      {% if context.review_form.rating.errors %}
                        {{ context.review_form.rating(class="form-control is-invalid",placeholder="Rating score (1 - 5)") }}
                        <div class="invalid-feedback">

                          {% for error in context.review_form.rating.errors  %}
                            <span> {{ error }}</span>
                          {%endfor%}

                        </div>
                        {% else %}

                        {{ context.review_form.rating(class="form-control", type="number", placeholder="Rating score (1 - 5)") }}

                      {% endif %}


                    </div>


                    <div class="form-group">
                      {{ context.review_form.message.label(class="form-control-label") }}


                      {% if context.review_form.message.errors %}
                        {{ context.review_form.message(class="form-control is-invalid",placeholder="Review Message") }}
                        <div class="invalid-feedback">

                          {% for error in context.review_form.message.errors  %}
                            <span> {{ error }}</span>
                          {%endfor%}

                        </div>
                        {% else %}

                        {{ context.review_form.message(class="form-control",placeholder="Review Message",rows="7") }}

                      {% endif %}
                    </div>
                    </fieldset>
                  <div class="form-group ">
                    {{ context.review_form.submit(class="btn btn-outline-info btn-block") }}
                  </div>
                  </form>
                </div>
              </div>

                <div class="col-md-8 mt-3">

                      {% include "comments.html" %}

                </div>
              </div>
            </div>


              </div>
            </div>

          </div>
      </div>


  {% endblock %}
