<div class="post">
    <div class="post-heading">
        <h5 class="shadow-sm p-2 bg-info rounded text-light" >Reviews</h5>
        {% for review in business_reviews %}

        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="title h6">
                <a href="#" class="text-dark" style="text-decoration:none; font-size:12px;"><b> Ryan Haywood</b></a>
            </div>
            <p class="mb-2"><small ><b>1 minute ago</b> </small></p>
            <div class="mb-2">
            <b><span class="h4 checked"> 3.0 </span></b>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
            <p >Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
        </div>
        {% endfor %}
    </div>
</div>
